html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);
  line-height: var(--mantine-line-height);
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--mantine-color-gray-0);
}

::-webkit-scrollbar-thumb {
  background: var(--mantine-color-gray-4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--mantine-color-gray-6);
}

.cardHover {
  transition: transform 0.5s ease;
}

.cardHover:hover {
  transform: scale(1.1);
}

.bgWhite{
  background-color: white !important;
}

/* Swiper Image */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.textHov:hover .textHov2{
  color: white;
}