html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);
  line-height: var(--mantine-line-height);
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--mantine-color-gray-0);
}

::-webkit-scrollbar-thumb {
  background: var(--mantine-color-gray-4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--mantine-color-gray-6);
}

.cardHover {
  transition: transform 0.5s ease;
}

.cardHover:hover {
  transform: scale(1.1);
}

.bgWhite{
  background-color: white !important;
}

/* Swiper Image */

.swiper {
  width: 100%;
  height: 100%;
}
/* 
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
} */

.textHov:hover .textHov2{
  color: white;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.blue-title {
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;

  background: linear-gradient(90deg, #00c6ff, #0072ff, #0052cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 0 8px rgba(0, 114, 255, 0.7),
    0 0 20px rgba(0, 114, 255, 0.5);
}
